/* @import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Jost", serif;

}

ul {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
}

.form-label {
  margin-bottom: .5rem;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  color: #555;
}

h1,h2,h3,h4,h5,h6 {
  margin: 0;
}

section {
  float: left;
  width: 100%;
}

.w_100 {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  float: left;
  width: 100%;
}

.btn_wrap {
  background: #000;
  color: #fff;
  padding: 10px 30px;
  border-radius: 50px;
  transition: 0.6s;
  border: none;
}

.btn_wrap:hover {
  background: #ff0000;
  transition: 0.6s;
  color: #fff;
}

.main_title {
  margin-bottom: 20px;
  text-transform: capitalize;
}


.login_page {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background: url(https://images.pexels.com/photos/392018/pexels-photo-392018.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
  background-repeat: no-repeat;
  background-size: cover;
}
.wrapper {  
  background-color:rgba(16 18 27 / 40%);
  border: 2px solid rgba(255, 255, 255, 02);
  backdrop-filter: blur(20px);
  color: #fff;
  border-radius: 10px;
  padding: 30px 40px;
}
.wrapper h1 {
  font-size: 36px;
  text-align: center;
}
.wrapper .input-box {
  position: relative;
  width: 100%;
  height: 50px;
  margin: 15px 0;
}
.input-box input {
  width: 100%;
  height: 50px;
  background: transparent;
  border: none;
  outline: none;
  border: 2px solid rgba(255, 255, 255, .2);
  border-radius: 40px;
  font-size: 16px;
  color: #fff;
  padding: 20px 45px 20px 20px;
}

.input-box input:focus {border-color : #fff;}
.input-box input::placeholder {
  color: #fff;
}
.input-box i {
  position:absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
}
.wrapper .btn {
  width: 100%;
  padding : 10px 30px;
  background-color: #fff;
  border: none;
  outline: none;
  margin-top:20px;
  border-radius: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, .1);
  cursor: pointer;
  font-size: 16px;
  color: #333;
  font-weight: 600;
}
.wrapper .btn:hover{
  background-color:#000;
  color:#fff;
}
.wrapper .register-link {
  font-size: 14.5px;
  text-align: center;
  margin: 20px 0 15px;
}
.register-link p a {
  color: #fff;
  text-decoration: none;
  font-weight: 600;
}
.register-link p a:hover {
  text-decoration: underline;
}
.wrapper .register-link a {
  color: #fff;
  font-size: 13px;
}

.top_nav {
  float: left;
  width: 100%;
  background: #000;
}

.top_nav ul {
  list-style: none;
  padding-left: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 0;
}
.top_nav ul li:hover{
  background: #ff0000;
    cursor: pointer;
}
.top_nav ul li{
  transition: 0.6s;
  margin: 0 5px;
}
.top_nav ul a.active {

  
  background: #ff0000;
}
.top_nav ul a{
  transition: 0.6s;
  text-decoration: none;
  color: #fff;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 500;
  padding: 20px 20px;
  display: block;
  


}


tr td, tr th {
  font-size: 15px;
}

.attendace_report, .Marks_report, .leave_report, .dashboard_wrap, .progress_report {
  padding: 20px 0;
  
  height: calc(100vh - 122px);
}

.card {

  border-radius: 30px 30px 0 0 !important;
  border: none;
}
.card-header {
  border-radius: 30px 30px 0 0 !important;
  padding: 15px 20px;
  text-align: center;
  border: none;
  
}

.leave_report .form_box {

  border: 1px solid #ededed;
  padding: 30px;
  border-radius: 30px;
}

 

.top_nav .w_20{
  float: left;
  width: 20%;
}
.top_nav .w_60{
  float: left;
  width: 60%;
}
.username_login_wrap ul li.user_icon_name svg{ 
  font-size: 18px;
}
.username_login_wrap ul li.user_icon_name {
  display: flex;
  align-items: center;
  gap: 5px;
  background: #ededed;
  padding: 12px 20px;
  border-radius: 30px;
  border: 1px solid #ddd;
} 
.username_login_wrap ul li .noti_icon{ 
  font-size: 24px;
  color: #fff;
 } 
.username_login_wrap ul{ 
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 5px;
  align-items: center;
} */